@model AlbumViewModel

@{
    ViewData["Title"] = "Create album";
}

<h2>@ViewData["Title"].</h2>

<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Album" asp-action="Create" method="post" class="form-horizontal" enctype="multipart/form-data">
                <h4>Create album.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Title" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.GalleryImages" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="@Model.GalleryImages" class="form-control" id="imgInp" />
                        @Html.DisplayFor(m => m.GalleryImages)  
                    </div>
                </div>

                <hr/>
                <div class="form-group">
                    <div class="col-md-10" id="image-section"></div> 
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Create album</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>       