@model List<PictureGalleryModel.Album>

@{
    ViewData["Title"] = "Albums";
}
<h2>@ViewData["Title"].</h2>

<div>
    <br />
    <a asp-controller="Album" asp-action="Create"> Create album</a>
</div>

<div class="row">
    <div class="col-md-8">
        <section>
            <table class="table table-hover">
                <tbody>
                    @foreach(var album in Model)
                    {
                        <tr>
                            <td>@album.Title</td>
                            <td><a asp-controller="Album" asp-action="Details" asp-route-id="@album.Id">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>

        </section>
    </div>
</div>