@model List<PictureGalleryModel.Album>
<html>
<head>

</head>
<body>
    <h1>Active todo</h1>
    <div>
        <br />
        <a  asp-controller="Album"  asp-action="Create"> Create album</a>
    </div>
</body>
</html>
